.wrap{
    padding-top: 20px;
    display: flex;
   align-items: center;
    justify-content: center;
    gap: 20px;
    height: 300px;
}
.card{
    align-items: center;
    border: 2px solid black;
}
img{
    width: 180px;
    height: 200px;
}
h2{
    text-align: center;
}